body{
    font-family: Roboto, sans-serif;
}


/*start header*/

.header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 200px; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 30px;
    box-sizing: border-box;
    background-color: white;
}

#logo{
    max-height: 140px;
    margin-bottom: 20px; 
}

nav{
    width: auto;
    font-size: 18px;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.h-ul li{
    margin: 0 15px;
}

nav ul li a {
    text-decoration:none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: red;
}


/*intro text*/

.bio {
    text-align: center;
    padding: 100px 20px;
    background: url(/assets/img/bg-bio.jpg) fixed;
    color: white;
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px black;
}

.profile-gith button{
    padding: 20px;
    font-size: 30px;
    border-radius: 50px;
    border-color: red;
    color: white;
    background-color: transparent;
}

.profile-gith button:hover{
   background-color: red; 
}

/*interests*/

    .interests{
        text-align: center;
        margin: 60px auto;
    }
    
    .section{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }
    
    .section div {
        flex: 1 1 30%; 
        min-width: 250px; 
        box-sizing: border-box; 
        text-align: center;
        padding: 20px;
        margin: 10px;
        background-color: #f9f9f9;
        border-radius: 8px;
    }
    
    .section img {
        width: 100%;
        height: auto;
        margin: 8px;
    }
    
    /*studies*/

    .my-studies{
    border-radius: 5px;
    }

    .studies{
    margin: 60px auto;
    text-align: center;
    }

    .text-studies{
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2px;
    font-weight: bold;
    background-attachment: fixed;
    background-position:center;
    background-image: url(/assets/img/9023.jpg);
    padding: 150px;
    margin: 0px;
    font-size: 25px;
    color: white;
    text-align: center;
    
    }

    .platform{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }

    .start2impact, .freecodecamp, .youtube{
        flex: 1 1 30%; 
        min-width: 250px; 
        box-sizing: border-box; 
        text-align: center;
        padding: 20px;
        margin: 10px;
        background-color: #f9f9f9;
        border-radius: 8px;
    }

    .s2i, .fcc, .yt{
        width: 100%;
        height: auto;
        margin: 8px;
    }

    .yt{
        width: 230px;
        margin-bottom: 30px;
    }

    .s2i{
        padding: 10px;
    }
   
    .fcc{
        padding: 22px;
    }

    .bt-s2i{
        padding: 20px;
        font-size: 20px;
    }

    .bt-fcc{
        font-size: 50px;
    }

    .bt-s2i, .bt-fcc{
        border-radius: 50px;
    }

    
    
    /*biography*/

    .biography{
        text-align: center;
    }

    .my-bio{
        padding: 80px;
    }

    .wp-bio{
        background-color: #f9f9f9;
        padding: 40px;
        font-weight: 500;
        font-size: 20px;
        border-radius: 8px;
    }

    
    
    
    /*page2 cv*/

    .body-cv {
        font-family: Roboto, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .h1-cv {
        text-align: center;
        padding: 2rem;
        font-size: 2rem; 
    }
    
    .cv {
        border: 2px solid black;
        text-align: center;
        padding: 1.5rem;
        margin: 0 auto; 
        max-width: 80%; 
        background-color: #f9f9f9;
        border-radius: 5px;
        list-style: inside;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    
    .cv-1, .cv2, .cv3, .cv4, .cv5, .cv6 {
        padding: 1rem;
    }
    
    .line {
        border-bottom: 2px solid black;
        margin: 1rem 0;
    }

    
    
    
    /*page3 projects*/

    .h1-pro{
        text-align: center;
        padding: 300px;
    }
    

    
    
    /* page4 contacts*/

    .body-ct{
        background-color: #f9f9f9;
    }
  
    .form-container {
        background-color: #ffffff;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
        display: grid;
        justify-content: center;
        margin: auto;
        padding: auto;
        
    }
    
    .h1-form {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.8rem;
        color: #333;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    label {
        margin-bottom: 0.5rem;
        color: #555;
        font-weight: bold;
    }
    
    input, textarea {
        margin-bottom: 1rem;
        padding: 0.8rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
    }
    
    input:focus, textarea:focus {
        outline: none;
        border-color: #007BFF;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    
    .bt-form {
        padding: 0.8rem;
        background-color: #007BFF;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .bt-form:hover {
        background-color: #0056b3;
    }














    @media screen and (max-width: 768px) {
        .header {
            height: auto;
            padding: 20px;
        }
    
        nav ul {
            flex-direction: column;
            gap: 10px;
        }
    
        .bio {
            padding: 60px 10px;
            font-size: 1.2rem;
        }
    
        .section div,
        .start2impact,
        .freecodecamp,
        .youtube {
            flex: 1 1 100%;
        }
    
        .text-studies {
            padding: 100px 20px;
            font-size: 20px;
        }
    
        .wp-bio {
            font-size: 18px;
        }
    }
    
   
    @media screen and (max-width: 480px) {
        .header {
            position: sticky;
            top: 0; 
            z-index: 1000; 
            display: flex;
            flex-direction: row; 
            align-items: center;
            justify-content: center; 
            width: 100%;
            height: 100px; 
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding: 10px 20px; 
            box-sizing: border-box;
            background-color: white;
            transition: background-color 0.3s ease, height 0.3s ease; 
        }
        
        #logo {
            max-height: 100px;
        }
    
        .bio {
            font-size: 1rem;
        }
    
        .section div {
            min-width: 100%;
            margin: 5px;
        }
    
        .form-container {
            padding: 1rem;
        }
    
        .h1-form {
            font-size: 1.5rem;
        }
    
        .bt-form {
            font-size: 0.9rem;
        }
    }